<div class="form-home">
    <div class="boxForm">
        <form #formLogin="ngForm" class="login">
            <div class="">
                <img src="../../../assets/imgs/logo-1.png" alt="logo">
            </div>
            <div>
                <div class="form-input">
                    <label for="usuario">Usuario:</label>
                    <input type="text" id="usuario" name="usuario"
                    [(ngModel)]="login.login" #usuario="ngModel" required placeholder="Usuario">
                </div>
                <div class="form-input">
                    <label for="senha" style="margin-top: 5px;">Senha</label>
                    <input type="text" id="senha" name="senha"
                    [(ngModel)]="login.senha" #senha="ngModel"
                    required type="password" placeholder="Senha">

                </div>
            </div>
            <div class="login-btn">
                <button type="button" (click)="logar()" [disabled]="!formLogin.form.valid">
                    <i class="fa fa-save" aria-hidden="true"></i> Logar
                </button> 
                <div class="login-links">
                    <span>Ainda não possui conta ?<a [routerLink]="['/usuarios/novo']">Cadastrar-se</a></span>
                    <span> <a [routerLink]="['/forget/password']">Esqueci a senha</a></span>
                </div> 
            </div>
        </form>
    </div>
</div>