<h1 *ngIf="novoProduto">Novo Produto</h1> <h1 *ngIf="!novoProduto">Editar Produto</h1>
<div class="well" style="position: absolute;">
    <form #formProduto="ngForm">
        <div class="form-group">
            <label for="nome_produto">Nome do produto:</label>
            <input type="text" class="form-control" id="nome_produto" name="nome_produto" [(ngModel)]="produtos.nome_produto" #nome_produto="ngModel"
            minlength="2" required>
        </div>
        <div class="form-group">
            <label for="url_foto_produto">Url da foto do produto:</label>
            <input type="text" class="form-control" id="url_foto_produto" name="url_foto_produto" [(ngModel)]="produtos.url_foto_produto" #url_foto_produto="ngModel"
            minlength="2" required>
        </div>
        <div class="form-group">
            <label for="estoque">Estoque</label>
            <input type="number" class="form-control" id="estoque" name="estoque" [(ngModel)]="produtos.estoque" #estoque="ngModel"
            minlength="2" required>
        </div>
        <div class="form-group">
            <label for="preco">Preço</label>
            <input type="number" class="form-control" id="preco" name="url_foto_produto" [(ngModel)]="produtos.preco" #preco="ngModel"
            minlength="2" required>
        </div>
        <div class="btns-inserir">
            <button type="button" class="btns-lgn-page" (click)="salvar()" [disabled]="!formProduto.form.valid">
                <i *ngIf="!loading" class="fa fa-save" aria-hidden="true"></i>
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar
            </button>

            <button class="btns-lgn-page">
                <a [routerLink]="['/produtos/listar']">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar
                </a>
            </button>
        </div>
    </form>
</div>
