<div class="conteiner-fluid">
  <nav class="nav-login"> 
    <div style="position: relative;">
      <img src="../assets/imgs/logo.png" alt="" class="img-logo">
    </div>
     <div *ngIf="usuarioLogado" class="nav-logado">
      <ul class="nav-1">
        <li *ngIf="usuarioLogado.perfil==='ADMIN'"
        class="nav-item">
            <a class="nav-link" href="#" routerLink="/usuarios">Usuarios </a>
        </li>
        <li *ngIf="usuarioLogado.perfil==='ADMIN'"
        class="nav-item">
            <a class="nav-link" href="#" routerLink="/produtos/listar">Cadastrar Produtos</a>
        </li>
      </ul>
      <ul *ngIf="usuarioLogado" class="nav-2">
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">Sair</a>
        </li>
        <li class="nav-item">
            <p>
            {{ usuarioLogado.nome }}
            </p>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  </div>